.full-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chonky{
    height: 100vh;
    width: 100vw;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.chonky-fileThumbnail {
    background-size: cover !important;
}


[class*=' Mui'],[class^='Mui'] {
    font-family: Quicksand !important;
    font-size: 17px;
}

[class*=' ant'],[class^='ant'] {
    font-family: Quicksand !important;
}

[class*=' listFileEntryProperty'],[class^='listFileEntryProperty']{
  flex-basis : 160px !important;
}

.carousel-div{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoName{
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
