/* Center the login page */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the rounded box */
.login-box {
    background-color: #fff;
    border: 1px solid #2c2c2e;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 350px;
}

.login-text{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 50px;
}